body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aqua;
}

a {
  color: rgb(66, 4, 255);
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.user-name {
  position: relative;
  top: -5px;
}