<%- include('../partials/header') %>
    <h1>MmmKayUltra Vinyl Community</h1>
    <p>Welcome to MmmKayUltra Vinyl Community where you are able to view and interact with your friends album collection</p>
</body>
</html>
