<%- include('../partials/header') %>
    <h1>MmmKayUltra Vinyl Community</h1>
    <p>Welcome to MmmKayUltra Vinyl Community a place to view and interact with your friends album collection</p>
    <a href="/albums">View Albums</button>
       
</body>
</html>
